{% extends "OnTour/base.html" %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clever On Tour</title>
</head>
<body>
    <h1> Vive la experiencia On Tour</h1>
    <div class="gif-container">
        <img src="{% static 'IMG/tour.gif' %}" alt="Animación GIF" class="gif-centrada">
    </div>
    <h2> Revisa nuestros servicios</h2>
</body>
</html>
{% endblock %}

