{% extends "OnTour/base.html" %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nombre de usuario" required>
            <br>
            <input type="password" name="password" placeholder="Contraseña" required>
            <br>
            <button type="submit">Iniciar Sesión</button>
        </form>
        {% if messages %}
            <div>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}