{% extends "OnTour/base.html" %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="{% static 'JS/registro.js' %}"></script>
</head>
<body>
    <div class="register-container">
        <h2>Registrarse</h2>
        <form action="{% url 'registro' %}" id="registroForm" method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrarse</button>
        </form>
        {% if messages %}
            <div>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}